<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true"
            verbose="true">
    <php>
        <ini name="zend.enable_gc" value="0" />
    </php>
    <testsuites>
        <testsuite name="Environment Tests">
            <file>tests/system/EnvironmentTest.php</file>
        </testsuite>
        <testsuite name="Shadow">
            <file>tests/system/EnvironmentTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserBaseTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserCheckArgumentTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserCheckObligatoryArgumentTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserCheckOptionalArgumentTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserValidShortTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserValidLongTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserIsOptTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserParseTest.php</file>
            <file>src/Lunr/Shadow/Tests/GetoptCliParserBaseTest.php</file>
            <file>src/Lunr/Shadow/Tests/GetoptCliParserParseTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/Lunr/</directory>
            <exclude>
                <directory>../src/Lunr/Shadow/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Lunr"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
